Source: rsd
Section: misc
Priority: optional
Maintainer: Abou Al Montacir <abou.almontacir@sfr.fr>
Uploaders: 
DM-Upload-Allowed: yes
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), quilt, lcl-utils (>= 0.9.28.2-9), fp-compiler (>= 2.4.0-2), lcl

Package: rsd
Architecture: i386 powerpc sparc amd64 arm
Depends: ${misc:Depends}, ${shlibs:Depends}, ${fpc-abi:Depends}
Recommends: lcl-utils, lcl, rsd-doc
Suggests: rsd-src
Description: Rapid Simulator Designer
 rsd is a program that computes Muaslim prayer time and notify user for evey
 Salat by playing Athan. It features multiple compuations methods, full
 internationalization support.
 .
 This package contains the main binary executable program and data files.

Package: rsd-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: rsd, fptc-src
Description: Rapid Simulator Designer - Developer's Documentation
 rsd is a program that computes Muaslim prayer time and notify user for evey
 Salat by playing Athan. It features multiple compuations methods, full
 internationalization support.
 .
 This package contains documentation.
