Source: rsd
Section: misc
Priority: optional
Maintainer: Mazen NEIFER <mazen.neifer@supaero.org>
Uploaders:
 Abou Al Montacir <abou.almontacir@sfr.fr>,
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 10),
 fp-compiler,
 lcl-utils,
 lcl

Package: rsd
Architecture: any
Depends:
 ${fpc-abi:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
	fpc,
	lazarus
Suggests: rsd-doc
Description: Rapid Simulator Designer - IDE and simulator core package
 RSD is a development tool that allow system designes to easily create a
 simulation tool for their design. It has a powerful, block based, view with a
 source code editor as well as a code generator and a development library.
 .
 This package contains the IDE binary executable program and data files.

Package: rsd-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends}
Suggests:
 rsd
Description: Rapid Simulator Designer - Developer's Documentation
 RSD is a development tool that allow system designes to easily create a
 simulation tool for their design. It has a powerful, block based, view with a
 source code editor as well as a code generator and a development library.
 .
 This package contains the user documentation.
